.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
header p {
    color: rgb(71, 160, 220);
    font-weight: bold;
    font-family: sans-serif;
    gap: 10px;
    margin: 1rem;
}
header hr {
    color: rgba(17, 17, 77, 0.356);
}

.search form {
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.search form p {
    background-color: rgb(71, 160, 220);
    color: white;
    border-radius: 4px;
    margin: 2px;
    padding: 1px;
}
.image {
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: 52px;
    left: 20px;
}
.ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.authorName {
    font-size: xx-small;
    color: gray;
    text-decoration-style: none;
    font-style: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0.5em;
}
.li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcastName {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-small;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    align-content: center;
}
div.details {
    border: 0px rgba(0, 0, 0, 0.498);
    box-shadow: 1px 1px 1px 1px rgb(114, 114, 114);
    height: 100px;
    width: 150px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.container {
    position: fixed;
    margin: 20px;

    width: 150px;
    height: 300px;

    margin: 10px;
    border: 0.2px solid black;
}
.nav {
    display: flex;
    flex-direction: column;

    right: 100%;
    padding: 1em;
}
.detailImage {
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: 5px;
    left: 20px;
}
.navName {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-small;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navArtist {
    font-size: xx-small;
    color: gray;
    text-decoration-style: none;
    font-style: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0.5em;
}
